.table--movies{
  .error{
    color: #ff5461;
    font-weight: 600;
  }
}
table{
  width: 100%;
}
.image-rounder{
  border-radius: 50%;
  width: 60px;
  height: 60px !important;
  position: relative;
  margin: auto;
  display: block;
}
