<!--
<md-list *ngIf="programming !== null">
  <md-list-item *ngFor="let p of programming">
    <h3 md-line  [routerLink]="['/movies', p.movies.url]" routerLinkActive="active"> {{p.movies.name}} <small><i>{{ p.release_at}}</i></small> </h3>
    <p md-line class="demo-2"> {{p.movies.description}} </p>
    <p>
      <button  md-raised-button  [routerLink]="['/movies', p.movies.url]" routerLinkActive="active">Ver</button>
    </p>
  </md-list-item>
</md-list>

-->
<h2>Cartelera</h2>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp table--movies">
    <thead>
    <tr>
        <th>Tituto</th>
        <th>Precio</th>
        <th>Entrada</th>
        <th>*</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of programming">
        <td><b>{{ p.movies.name }}</b></td>
        <td>{{ p.movies.price | currency: 'PEN':false}}</td>
        <td>
            <span [ngClass]="{error: (p.limit - p.occupied) < p.limit / 30 }">{{ p.limit - p.occupied}}</span>
        </td>
        <td>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"  [routerLink]="['/movies', p.movies.url]" routerLinkActive="active">
                Ver
            </button>
        </td>
    </tr>
    </tbody>
</table>